---
import Dashboard from '../layouts/Dashboard.astro';
import MacroClient from '../components/MacroClient';
---

<Dashboard title="Gidne | Macro">
	<div style="padding: 1rem;">
		<MacroClient client:load />
	</div>
</Dashboard>
